In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_train = pd.read_csv("C:/Users/20130367/Desktop/DT/DT Projects/Project 5, 6, 7/bigdatamart_Train.csv")

df_test = pd.read_csv("C:/Users/20130367/Desktop/DT/DT Projects/Project 5, 6, 7/bigdatamart_Test.csv")

In [3]:
df_train['source']='df_train'
df_test['source']='df_test'
df = pd.concat([df_train, df_test],ignore_index=True)
print(df_train.shape, df_test.shape, df.shape)

(8523, 13) (5681, 12) (14204, 13)

In [4]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,df_train
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,df_train
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,df_train
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,df_train
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,df_train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,NaN,df_test
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,NaN,df_test
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,df_test
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN,df_test
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,df_test

In [5]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11765 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                10188 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          8523 non-null   float64
 12  source                     14204 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.4+ MB

In [7]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
dtype: int64

# Inference

    There are a few columns with object data. We will need to Encode it.
    Label/ Target : Item_Outlet_Sales 
    

    1. Item_Visibility has a min value of zero. This is illogical as the item is being sold so there has to be visibility.
    2. Outlet_Establishment_Years vary from 1985 to 2009. Should be used as to how many years the store is active.
    3. The lower â€˜countâ€™ of Item_Weight, Outlet_size and Item_Outlet_Sales is relevant from the above null values

In [8]:
df.apply(lambda x: len(x.unique()))

Item_Identifier               1559
Item_Weight                    416
Item_Fat_Content                 5
Item_Visibility              13006
Item_Type                       16
Item_MRP                      8052
Outlet_Identifier               10
Outlet_Establishment_Year        9
Outlet_Size                      4
Outlet_Location_Type             3
Outlet_Type                      4
Item_Outlet_Sales             3494
source                           2
dtype: int64

In [9]:
#there are a total of 1559 products, and 16 different categories of products

# Now we can avoid checking the 'Item_Identifier, Outlet_identifier and source' columns

In [10]:
#Finding frequency of categorical data while exckuding the Item_Identifier and Source data:

categorical_columns = [x for x in df.dtypes.index if df.dtypes[x]=='object']

#Exclude ID cols and source:
categorical_columns = [x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Identifier','source']]

#Print frequency of categories
for col in categorical_columns:
    print ('\nFrequency of Categories for varible %s'%col)
    print (df[col].value_counts())

Frequency of Categories for varible Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

Frequency of Categories for varible Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

Frequency of Categories for varible Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

Frequency of Categories for varible Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

Frequency of Categories for varible Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [11]:
# for fat content we can see that there is repitition of data, different names used for same category of data, therefore 
# combining the data:

#replacing low fat and LF with Low Fat
#replacing reg with Regular

df["Item_Fat_Content"].replace("low fat","Low Fat",inplace=True)
df["Item_Fat_Content"].replace("LF","Low Fat",inplace=True)
df["Item_Fat_Content"].replace("reg","Regular",inplace=True)

In [12]:
df['Item_Fat_Content'].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [13]:
#Average weight per item:
item_weight_avg=df.groupby(["Item_Identifier"]).agg({"Item_Weight":"mean"})
item_weight_avg
for index in item_weight_avg.index:
    null_condition=df.loc[df["Item_Identifier"]==index,["Item_Weight"]].isnull()
    for index_2 in null_condition.index:
        if null_condition.loc[index_2][0]==True:
            df.loc[index_2,["Item_Weight"]]=item_weight_avg.loc[index][0]

In [14]:
df["Outlet_Size"].value_counts()

Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [15]:
#Lets impute the Outlet_Size by mode of Outlet_Size groupped Outlet_Type

outlet_size_mode=df.groupby(["Outlet_Type"]).agg({"Outlet_Size":lambda x: x.value_counts().index[0]})
outlet_size_mode
for index in outlet_size_mode.index:
    null_condition=df.loc[df["Outlet_Type"]==index,["Outlet_Size"]].isnull()
    for index_2 in null_condition.index:
        if null_condition.loc[index_2][0]==True:
            df.loc[index_2,["Outlet_Size"]]=outlet_size_mode.loc[index][0]

In [18]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
dtype: int64

In [19]:
df.sample(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
11788,FDP31,21.100,Regular,0.161756,Fruits and Vegetables,65.7168,OUT049,1999,Medium,Tier 1,Supermarket Type1,NaN,df_test
8487,DRG13,17.250,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150,df_train
12926,NCD54,21.100,Low Fat,0.029068,Household,144.7786,OUT045,2002,Small,Tier 2,Supermarket Type1,NaN,df_test
7961,FDQ52,17.000,Low Fat,0.119871,Frozen Foods,248.3434,OUT018,2009,Medium,Tier 3,Supermarket Type2,6208.5850,df_train
10044,DRM49,6.110,Regular,0.152573,Soft Drinks,45.1086,OUT018,2009,Medium,Tier 3,Supermarket Type2,NaN,df_test
3974,FDB03,17.750,Regular,0.156832,Dairy,241.0538,OUT046,1997,Small,Tier 1,Supermarket Type1,1201.7690,df_train
11676,FDQ11,5.695,Regular,0.067645,Breads,256.5988,OUT013,1987,High,Tier 3,Supermarket Type1,NaN,df_test
2038,NCN14,19.100,Low Fat,0.092438,Others,185.2608,OUT017,2007,Small,Tier 2,Supermarket Type1,1470.0864,df_train
8668,NCB54,8.760,Low Fat,0.050154,Health and Hygiene,126.9336,OUT045,2002,Small,Tier 2,Supermarket Type1,NaN,df_test
2618,FDJ08,11.100,Low Fat,0.110897,Fruits and Vegetables,191.5846,OUT045,2002,Small,Tier 2,Supermarket Type1,2101.9306,df_train

In [20]:
#Also one observation about the item visibility is that it can't be 0 so that also needs to be replaced


item_visibility_mean=df.groupby(["Item_Identifier"]).agg({"Item_Visibility":"mean"})
item_visibility_mean
for index in item_visibility_mean.index:
    zero_visibility_row=df.loc[(df["Item_Identifier"]==index)&(df["Item_Visibility"]==0)]
    if len(zero_visibility_row.index)>0:
        for index_2 in zero_visibility_row.index:
            df.loc[index_2,["Item_Visibility"]]=item_visibility_mean.loc[index][0]

In [21]:
#Let us encode the data:

df1=pd.get_dummies(df,columns=["Item_Fat_Content","Item_Type","Outlet_Location_Type","Outlet_Size","Outlet_Type"])

In [22]:
df1

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,source,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDA15,9.30,0.016047,249.8092,OUT049,1999,3735.1380,df_train,1,0,...,1,0,0,0,1,0,0,1,0,0
1,DRC01,5.92,0.019278,48.2692,OUT018,2009,443.4228,df_train,0,1,...,0,0,1,0,1,0,0,0,1,0
2,FDN15,17.50,0.016760,141.6180,OUT049,1999,2097.2700,df_train,1,0,...,1,0,0,0,1,0,0,1,0,0
3,FDX07,19.20,0.017834,182.0950,OUT010,1998,732.3800,df_train,0,1,...,0,0,1,0,0,1,1,0,0,0
4,NCD19,8.93,0.009780,53.8614,OUT013,1987,994.7052,df_train,1,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,0.013496,141.3154,OUT046,1997,NaN,df_test,0,1,...,1,0,0,0,0,1,0,1,0,0
14200,FDD47,7.60,0.142991,169.1448,OUT018,2009,NaN,df_test,0,1,...,0,0,1,0,1,0,0,0,1,0
14201,NCO17,10.00,0.073529,118.7440,OUT045,2002,NaN,df_test,1,0,...,0,1,0,0,0,1,0,1,0,0
14202,FDJ26,15.30,0.088380,214.6218,OUT017,2007,NaN,df_test,0,1,...,0,1,0,0,0,1,0,1,0,0
14203,FDU37,9.50,0.104720,79.7960,OUT045,2002,NaN,df_test,0,1,...,0,1,0,0,0,1,0,1,0,0

In [23]:
#lets check how old the store is:
df1["Outlet_Establishment_Year"]=2013-df1["Outlet_Establishment_Year"]

In [24]:
df1["Outlet_Active Years"]=df1["Outlet_Establishment_Year"]
df1.drop(columns=["Outlet_Establishment_Year"],inplace=True)

In [25]:
df1.sample(5)

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Item_Outlet_Sales,source,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,...,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Active Years
8668,NCB54,8.76,0.050154,126.9336,OUT045,NaN,df_test,1,0,0,...,1,0,0,0,1,0,1,0,0,11
12312,FDZ21,17.60,0.039301,94.7410,OUT045,NaN,df_test,0,1,0,...,1,0,0,0,1,0,1,0,0,11
10426,FDP11,15.85,0.069208,219.5166,OUT049,NaN,df_test,1,0,0,...,0,0,0,1,0,0,1,0,0,14
2756,FDV16,7.75,0.082862,32.6558,OUT013,679.116,df_train,0,1,0,...,0,1,1,0,0,0,1,0,0,26
8789,NCV29,11.80,0.022937,177.6686,OUT018,NaN,df_test,1,0,0,...,0,1,0,1,0,0,0,1,0,4

In [26]:
#lets chcek the skewness
skew_check=["Item_MRP","Item_Visibility","Item_Weight","Outlet_Active Years"]
for col in df1.skew().index:
    if col in skew_check:
        print("Skewness of column {} is: {}".format(col,df1.skew().loc[col]))

Skewness of column Item_Weight is: 0.10041690891741958
Skewness of column Item_Visibility is: 1.2574052519888317
Skewness of column Item_MRP is: 0.13072836040225866
Skewness of column Outlet_Active Years is: 0.3964651900863859

In [27]:
#treating the skewness

df1.skew()
for col in df1.skew().index:
    if col in skew_check:
        if df1.skew().loc[col]>0.5:
            df1[col]=np.sqrt(df1[col])
        if df1.skew().loc[col]<-0.5:
            df1[col]=np.cbrt(df1[col])

In [28]:
skew_check=["Item_MRP","Item_Visibility","Item_Weight","Outlet_Active Years"]
for col in df1.skew().index:
    if col in skew_check:
        print("Skewness of column {} is: {}".format(col,df1.skew().loc[col]))

Skewness of column Item_Weight is: 0.10041690891741958
Skewness of column Item_Visibility is: 0.41413332304805794
Skewness of column Item_MRP is: 0.13072836040225866
Skewness of column Outlet_Active Years is: 0.3964651900863859

In [29]:
df1.drop(columns=["Item_Identifier","Outlet_Identifier"],inplace=True)

In [30]:
df1.sample(5)

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,source,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,...,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Active Years
1330,19.700,0.254797,88.1198,1744.396,df_train,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,16
12317,17.600,0.203506,163.3526,NaN,df_test,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,28
1215,20.250,0.320475,94.3120,2982.784,df_train,0,1,0,0,0,...,1,0,0,0,1,0,1,0,0,9
9919,19.850,0.071053,265.0884,NaN,df_test,1,0,0,0,0,...,1,0,0,0,1,0,1,0,0,11
2861,7.035,0.130438,262.6910,6048.793,df_train,1,0,0,0,0,...,0,1,1,0,0,0,1,0,0,26

In [31]:
#Divide into test and train:
df1_train = df1.loc[df1['source']=="df_train"]
df1_test = df1.loc[df1['source']=="df_test"]

#Drop unnecessary columns:
df1_test.drop(['Item_Outlet_Sales','source'],axis=1,inplace=True)
df1_train.drop(['source'],axis=1,inplace=True)


#Export files as modified versions:
df1_train.to_csv("train_modified.csv",index=False)
df1_test.to_csv("test_modified.csv",index=False)

In [32]:
#seprating input and output from df_train

df1_x=df1_train.drop(columns=["Item_Outlet_Sales"])
y=df1_train[["Item_Outlet_Sales"]]

In [33]:
#Lets bring every column to common scale

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x = sc.fit_transform(df1_x)
x = pd.DataFrame(x,columns=df1_x.columns)

In [34]:
#to find random stat which gives maximum r2_score

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

def maxr2_score(regr,df1_x,y):
    max_r_score=0
    for r_state in range(35,60):
        x_train, x_test, y_train, y_test = train_test_split(df1_x, y,random_state = r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state," is ",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state," is ",max_r_score)
    return final_r_state

In [35]:
#lets make a function which evaluates the model using cross_val_score

from sklearn.model_selection import cross_val_score
def model_evaluation(model,x,y):
    c_scores=cross_val_score(model,x,y,cv=5,scoring="r2")
    print("Mean r2 score for regressor: ",c_scores.mean())
    print("standard deviation in r2 score for regressor: ",c_scores.std())
    print(c_scores)

In [36]:
#Lets use pca to reduce the dimensionality

from sklearn.decomposition import PCA
pca = PCA(n_components=23)
x_pca=pca.fit_transform(x)
print("Variance :{}".format(np.sum(pca.explained_variance_ratio_)))

Variance :0.9650240506458522

# DECISION TREE

In [41]:
from sklearn.tree import DecisionTreeRegressor
import numpy as np
dtr=DecisionTreeRegressor()

In [36]:

r_state=maxr2_score(dtr,x_pca,y)

r2 score corresponding to  35  is  0.18104895523577091
r2 score corresponding to  36  is  0.2228443160986282
r2 score corresponding to  37  is  0.060580987382195195
r2 score corresponding to  38  is  0.14212863598876257
r2 score corresponding to  39  is  0.17502915704133093
r2 score corresponding to  40  is  0.1388751100138581
r2 score corresponding to  41  is  0.16094194537839623
r2 score corresponding to  42  is  0.13886499355102155
r2 score corresponding to  43  is  0.20934483862753372
r2 score corresponding to  44  is  0.1127557567940507
r2 score corresponding to  45  is  0.212266086550834
r2 score corresponding to  46  is  0.04512693182504912
r2 score corresponding to  47  is  0.14381035004329723
r2 score corresponding to  48  is  0.19836778853700487
r2 score corresponding to  49  is  0.181331602024686
r2 score corresponding to  50  is  0.13077842233656656
r2 score corresponding to  51  is  0.1066649003234511
r2 score corresponding to  52  is  0.1584171740819601
r2 score corresponding to  53  is  0.15204052426799652
r2 score corresponding to  54  is  0.20339072181997297
r2 score corresponding to  55  is  0.1848054602625906
r2 score corresponding to  56  is  0.1919349248484603
r2 score corresponding to  57  is  0.20568841908210866
r2 score corresponding to  58  is  0.08671354656195862
r2 score corresponding to  59  is  0.13972770146352997
max r2 score corresponding to  36  is  0.2228443160986282

# Random Forest Regressor

In [37]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings("ignore")
rfr=RandomForestRegressor()

In [37]:
parameters = {"n_estimators":[10,150,300]}
clf = GridSearchCV(rfr, parameters, cv=5,scoring="r2")
clf.fit(x_pca,y)
clf.best_params_

{'n_estimators': 150}

In [39]:
rfr=RandomForestRegressor(n_estimators=150)
r_state=maxr2_score(rfr,x_pca,y)

r2 score corresponding to  35  is  0.5512600699189101
r2 score corresponding to  36  is  0.5266382671498564
r2 score corresponding to  37  is  0.5261617195602292
r2 score corresponding to  38  is  0.5304384640768818
r2 score corresponding to  39  is  0.5583101828297587
r2 score corresponding to  40  is  0.5378239444118157
r2 score corresponding to  41  is  0.5376782454279605
r2 score corresponding to  42  is  0.5503402848022747
r2 score corresponding to  43  is  0.5569465622197655
r2 score corresponding to  44  is  0.5498647749418046
r2 score corresponding to  45  is  0.5465723641075666
r2 score corresponding to  46  is  0.49031261130432335
r2 score corresponding to  47  is  0.538170076132967
r2 score corresponding to  48  is  0.5506996113679725
r2 score corresponding to  49  is  0.552859099823809
r2 score corresponding to  50  is  0.5352666608260024
r2 score corresponding to  51  is  0.5339023025233698
r2 score corresponding to  52  is  0.5255070870081251
r2 score corresponding to  53  is  0.5146859650363096
r2 score corresponding to  54  is  0.5654480126603166
r2 score corresponding to  55  is  0.5567405818086408
r2 score corresponding to  56  is  0.524293016616924
r2 score corresponding to  57  is  0.544993798907252
r2 score corresponding to  58  is  0.5418295194327032
r2 score corresponding to  59  is  0.5326380629090108
max r2 score corresponding to  54  is  0.5654480126603166

# KNR

In [45]:
from sklearn.neighbors import KNeighborsRegressor
knr=KNeighborsRegressor()

In [38]:
parameters = {"n_neighbors":range(2,25)}
clf = GridSearchCV(knr, parameters, cv=5,scoring="r2")
clf.fit(x_pca, y)
clf.best_params_

{'n_neighbors': 10}

In [41]:
knr=KNeighborsRegressor(n_neighbors=10)
r_state=maxr2_score(knr,x_pca,y)

r2 score corresponding to  35  is  0.490469091425762
r2 score corresponding to  36  is  0.4715920890381058
r2 score corresponding to  37  is  0.4716682452667831
r2 score corresponding to  38  is  0.4757667113395183
r2 score corresponding to  39  is  0.4873333684401612
r2 score corresponding to  40  is  0.47213861179833105
r2 score corresponding to  41  is  0.4651204415731267
r2 score corresponding to  42  is  0.4994373623848555
r2 score corresponding to  43  is  0.5097288609440838
r2 score corresponding to  44  is  0.49861542382520696
r2 score corresponding to  45  is  0.49431957527195924
r2 score corresponding to  46  is  0.45219391722845703
r2 score corresponding to  47  is  0.46441902552870284
r2 score corresponding to  48  is  0.49206257892037086
r2 score corresponding to  49  is  0.49940842677271036
r2 score corresponding to  50  is  0.48861555347390184
r2 score corresponding to  51  is  0.4802058624030714
r2 score corresponding to  52  is  0.49139299988090757
r2 score corresponding to  53  is  0.4536586133192444
r2 score corresponding to  54  is  0.49281661887256856
r2 score corresponding to  55  is  0.49445296095816693
r2 score corresponding to  56  is  0.4662119606406703
r2 score corresponding to  57  is  0.4694381064491683
r2 score corresponding to  58  is  0.47912865703468566
r2 score corresponding to  59  is  0.4753245422073271
max r2 score corresponding to  43  is  0.5097288609440838

# SVM

In [47]:
from sklearn.svm import SVR
import warnings
warnings.filterwarnings("ignore")

svr=SVR()

In [44]:

parameters={"kernel":["linear", "poly", "rbf"],"C":[0.003,0.03,0.3,3,30]}
clf = GridSearchCV(svr, parameters, cv=6,scoring="r2")
clf.fit(x_pca,y)
clf.best_params_

{'C': 30, 'kernel': 'linear'}

In [39]:
svr=SVR(kernel="linear",C=30)
r_state=maxr2_score(svr,x_pca,y)

r2 score corresponding to  35  is  0.5360832482023863
r2 score corresponding to  36  is  0.5304013835521426
r2 score corresponding to  37  is  0.5268036513415183
r2 score corresponding to  38  is  0.5300029056198231
r2 score corresponding to  39  is  0.5420453469769833
r2 score corresponding to  40  is  0.53637397790639
r2 score corresponding to  41  is  0.5094048986962048
r2 score corresponding to  42  is  0.555874476978053
r2 score corresponding to  43  is  0.541402140830041
r2 score corresponding to  44  is  0.545840751810261
r2 score corresponding to  45  is  0.5409244604607993
r2 score corresponding to  46  is  0.5321280199905756
r2 score corresponding to  47  is  0.5316034351688728
r2 score corresponding to  48  is  0.5258033126088427
r2 score corresponding to  49  is  0.5387798077276097
r2 score corresponding to  50  is  0.5374664814638959
r2 score corresponding to  51  is  0.5295808699877413
r2 score corresponding to  52  is  0.546340913445676
r2 score corresponding to  53  is  0.5316558410276643
r2 score corresponding to  54  is  0.5348856131561124
r2 score corresponding to  55  is  0.5301916547813823
r2 score corresponding to  56  is  0.5125425326827364
r2 score corresponding to  57  is  0.5203763329749458
r2 score corresponding to  58  is  0.5436165302177489
r2 score corresponding to  59  is  0.5349597617075419
max r2 score corresponding to  42  is  0.555874476978053

# FINAL

In [42]:
print("DECISION TREE REGRESSOR\n\n")
model_evaluation(dtr,x_pca,y)

DECISION TREE REGRESSOR


Mean r2 score for regressor:  0.12763037984503522
standard deviation in r2 score for regressor:  0.051197381748200994
[0.20652439 0.0635656  0.08720753 0.12023094 0.16062343]

In [43]:
print("RANDOM FOREST REGRESSOR\n\n")
model_evaluation(rfr,x_pca,y)

RANDOM FOREST REGRESSOR


Mean r2 score for regressor:  0.5377575347944763
standard deviation in r2 score for regressor:  0.026933507073846816
[0.56877659 0.50409467 0.50694055 0.55115632 0.55781955]

In [46]:
print("KNN REGRESSOR\n\n")
model_evaluation(knr,x_pca,y)

KNN REGRESSOR


Mean r2 score for regressor:  0.4780142726197849
standard deviation in r2 score for regressor:  0.025157382433560707
[0.49616378 0.4411764  0.46353625 0.47564466 0.51355028]

In [48]:
print("SVM REGRESSOR\n\n")
model_evaluation(svr,x_pca,y)

SVM REGRESSOR


Mean r2 score for regressor:  0.0018949955907214822
standard deviation in r2 score for regressor:  0.00892226615469052
[-0.00478044  0.01374894 -0.01127956  0.00396696  0.00781909]

In [49]:
#Based on above r2 scores SVM is performing better than other two
#lets make model using SVM
x_train, x_test, y_train, y_test = train_test_split(x_pca, y,random_state = 76,test_size=0.20)
svr.fit(x_train,y_train)
y_pred = svr.predict(x_test)

In [50]:
#rmse and r2_score
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print("RMSE is: ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score is: ",r2_score(y_test,y_pred))

RMSE is:  1675.7105883738693
r2_score is:  0.017993048395996913

In [51]:
#random forest
x_train, x_test, y_train, y_test = train_test_split(x_pca, y,random_state = 89,test_size=0.20)
rfr.fit(x_train,y_train)
y_pred = rfr.predict(x_test)

In [52]:
#rmse and r2_score
print("RMSE is: ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score is: ",r2_score(y_test,y_pred))

RMSE is:  1098.867300021519
r2_score is:  0.5748768141038221

In [54]:
#lets transform df_test accoring to pca
x_pca_test=pca.transform(df1_test)

In [55]:
sales_pred=rfr.predict(x_pca_test)

In [56]:
#lets make the dataframe for price_pred
sales_pred=pd.DataFrame(sales_pred,columns=["Item_Outlet_sales"])

In [57]:
#Lets save the submission to csv
sales_pred.to_csv("Item_outlet_sales_Predictions.csv",index=False)